.faded-background {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.image-container {
  transition: padding 0.25s linear;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
}

.image-container:hover .image-inspector-comment-container {
  visibility: visible;
}

.inspected-image {
  width: 600px;
}

.image-inspector-comment-container {
  background-color: rgba(247, 247, 247, 0.5);
  bottom: 134px;
  padding: 10px;
  position: absolute;
  width: 600px;
  visibility: hidden;
}

.image-inspector-photo-comment {
  margin: 0px;
}

.right-button,
.left-button {
  transition: color 0s linear,
              margin 0.25s linear,
              width 0.25s linear;
  background-color: rgba(0, 0, 0, .65);
  border: none;
  color: transparent;
  padding: 0px;
  height: 80px;
  width: 10px;
}

.right-button:hover,
.left-button:hover {
  transition: margin 0.25s linear,
              color 0.25s step-end,
              width 0.25s linear;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  width: 30px;
}

.right-button:hover {
  margin: 0px
}

.left-button:hover {
  margin: 0px;
}

.right-button {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin: 0px 20px 0px 0px;
}

.left-button {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin: 0px 0px 0px 20px;
}

.right-button:disabled,
.left-button:disabled {
  width: 10px;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
}

.right-button:disabled {
  margin: 0px 20px 0px 0px;
}

.left-button:disabled {
  margin: 0px 0px 0px 20px;
}

.close-button {
  background-color: rgba(0, 0, 0, 0.65);
  border: none;
  color: white;
  position: relative;
  bottom: 185px;
  left: 630px;
  text-align: center;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}