.faded-background {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.image-container {
  height: 400px;
}

.inspected-image {
  width: 600px;
}

.right-button,
.left-button {
  height: 80px;
  position: relative;
  top: -200px;
  width: 25px;
}