.photo-card {
  align-items: flex-end;
  background-color: rgba(247, 247, 247, 0.5);
  border-radius: 10px;
  box-shadow: 10px 10px 19px -3px rgba(0,0,0,0.5);
  display: flex;
  height: 266.66px;
  margin: 25px auto;
  width: 400px;
}

.photo-card:hover .photo-comment-container {
  visibility: visible;
}

.taken-photo {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.photo-comment-container {
  visibility: hidden;
  background-color: rgba(247, 247, 247, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  width: 400px;
}

.photo-comment {
  font-size: 13px;
  margin: 0px;
}

.photo-card-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.album-name-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin: 3px 5px;
  text-align: right;
}